 .form-control {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      color: #80868b;
      font-size: 16px;
      pointer-events: none;
      transition: all 0.3s ease;

    }

    .form-control input:focus {
      border-color: black;
    }

    .form-control input:focus+label,
    .form-control input:valid+label {
      transform: translateY(-40px) scale(0.8);
      color: black;
      background: #f4f4f4;
      padding: 0 4px;
    }



    